# Build results
bin/
obj/
[Bb]uild/
[Bb]uilds/
[Bb]in/
[Oo]bj/

# Visual Studio specific
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build artifacts
*.dll
*.exe
*.pdb
*.cache
*.log

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Others
*.dbmdl
*.bak
*.ldf
*.mdf
*.ide

# User-specific configurations
appsettings.json
appsettings.Development.json